@media(max-width:480px){
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    #hero-section{
        height: 250px;
    }
    .hero-text{
        text-align: center;
        position: absolute;
        top: 60%;
        left: 47%;
        transform: translate(-50%,-50%);
    }
    .work-together{
        height: 300px;
    }
    .footer-items{
        display: grid;
        grid-template-columns:  28% 25% 30%;
        grid-gap: 10px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 30% 30% 40%;
        grid-gap: 10px;
      }
}