body{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
i {
    font-family: fontawesome !important;
    }
    
.navbar{
    background-color: rgb(190, 49, 68);
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
}
#hero-section{
    background-color: rgb(32, 32, 34);
    height: 500px;
    width: 100%;
    position: relative;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero-text h2{
  color: #fff;
  font-weight: 600;
}
.hero-text span{
  color: rgb(190, 49, 68);
  font-style: italic;
}
.project-section{
    background-color: rgba(68,86,124,255);
    padding: 70px 0px 65px 0px;
    text-align: center;
}
.project-section img{
   height: 250px;
   object-fit: cover;
}
.project-section h3{
   text-decoration: underline;
   font-weight: 500;
   padding-bottom: 25px;
   color: #fff;
}
.show-all{
    background-color: rgb(32, 32, 34);
    color: #d1d4d9;
    border-radius: 5px;
    margin-top: 20px;
}
.work-together{
    background-color:rgba(48,57,66,255);
    height: 400px;
    position: relative;
    border-bottom: 2px solid rgb(190, 49, 68);

}
.work-content{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.work-content p{
    font-style: italic;
}
.footer-items li{
    padding: 1rem;
}
.footer-items li a{
    color: #fff;
}
.footer-items li a:hover{
    color: aqua;
    transform: translate(20px,50px);
}
